<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>NSNearbyInteractionAllowOnceUsageDescription</key>
	<string>This app uses Nearby Interaction to help you navigate to other phones acting as anchors.</string>
	<key>NSNearbyInteractionUsageDescription</key>
	<string>This app uses Ultra-Wideband technology to measure distance and direction to nearby anchor devices for navigation.</string>
	<key>NSLocalNetworkUsageDescription</key>
	<string>This app needs to discover and connect to nearby phones on your local network for navigation.</string>
	<key>NSBonjourServices</key>
	<array>
		<string>_vnxnav-service._tcp</string>
		<string>_vnxnav-service._udp</string>
	</array>
	<key>UIBackgroundModes</key>
	<array>
		<string>nearby-interaction</string>
	</array>
	<key>ITSAppUsesNonExemptEncryption</key>
	<false/>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>com.googleusercontent.apps.484887157120-10112nc84vm384ekq5475j3fmleeg5hq</string>
			</array>
		</dict>
	</array>
</dict>
</plist>